*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4)5%, rgba(0,0,0,0.4)5%), url(backgrou.jpg);
    background-position: center;
    background-position-y: -1200px;
    background-size: cover;
    background-attachment: fixed;
    height: 109vh;
}



.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%,rgba(0, 0, 0, 0.6)50% );
    border-radius: 10px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 30px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 1000px;
    float: left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 25px;
    font-size: 18px;
    align-items: center;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover{
    color: #ff7200;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    text-decoration: none;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
}



.content h1{
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content ul{
    list-style:circle;
    font-size: 18px;
    float: left;
    justify-content:initial;
    align-items:initial;
    font-family: Arial;
}

.content ul li{
    list-style: circle;
    margin-top: 25px;
    font-size: 18px;
    align-items: left;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background: white;
}

.content span{
    color: #ff7200;
    font-size: 50px;
}

.form{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%,rgba(0, 0, 0, 0.8)50% );
    position: relative;
    top: 20px;
    left: 0px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
    cursor:initial;
    text-decoration: none;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    text-decoration: none;
}



.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
    
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background:#ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.form h3{
    width: 222px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgb(61, 167, 0);
    border-radius: 10px;
    border: none;  
    margin: 2px;
    margin-top: 20px;
    padding: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor:initial;
}

.btnn:hover{
    background: white;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.form .log{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
}

.content .videos{
    margin-top: 70px;
}

.videos video{
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 100px;
    width: 800px;
}

.videos h1{
    color: #ff7200;
    font-family: Arial;
    letter-spacing: 9px;
    font-size: 40px;
}

.videos .par{
    
    font-size: 18px;
    letter-spacing: 5px;
}


