<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="camera" default="/usb_cam" />

    <!-- run camera-lidar projection script -->
    <node   
        pkg="lidar_camera_detection"
        type="lidar_camera_affichage.py"
        name="lidar_camera_affichage"
        output="screen" />

      <!-- run image view to display the projected points image -->
      <!--
    <node 
        name="camera_lidar_projection" 
        pkg="image_view"
        type="image_view"
        respawn="false"
        output="screen">
        
        <remap from="image" to="$(arg camera)/camera_lidar" />
      </node>
      -->

</launch>
